.frame-item {
  height: 58px;
  width: 100%;
  background-color: var(--color-gray-500);
  display: none;
}

.whatsapp-icon {
  height: 16px;
  width: 16px;
}

.whatsapp-support1 {
  font-weight: 500;
  color: rgb(205, 205, 205);
  text-decoration: none;
  font-size: 12px; /* Adjust font size for WhatsApp Support */
}

.social-media,
.whatsapp-support {
  display: flex;
  align-items: flex-start;
}

.whatsapp-support {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}

.social-media {
  gap: var(--gap-7xs);
}

.logo-container-child {
  width: 10px;
  height: 8.6px;
}

.logo-container {
  padding: var(--padding-12xs) 0 0;
}

.teamdjfyappcom {
  font-weight: 500;
  white-space: nowrap;
  color: rgb(205, 205, 205);
  text-decoration: none;
  font-size: 12px; /* Adjust font size for team email */
}

.logo-pair {
  display: flex;
  gap: var(--gap-5xs);
}

.logo-pair-wrapper {
  flex: 1;
  padding: 0 0 var(--padding-12xs);
}

.vector-icon {
  width: 8px;
  height: 8px;
  
}

.vector-wrapper {
  
  padding: var(--padding-11xs) 0 0;
}

.div {
  font-weight: 500;
  white-space: nowrap;
  color: rgb(205, 205, 205);
  text-decoration: none;
  font-size: 12px; /* Adjust font size for phone number */
}

.frame-parent {
  display: flex;
  gap: var(--gap-9xs);
}

.frame-wrapper {
  padding: 0 0 var(--padding-12xs);
}

.social-media-parent {
  display: flex;
  gap: var(--gap-xs-5);
}

.hero-content {
  width: 100%;
  padding: 0 0 var(--padding-12xs);
}

.login-register {
  font-weight: 500;
  white-space: nowrap;
  color: rgb(205, 205, 205);
  text-decoration: none;
  font-size: 12px; 
  margin-left: var(--gap-xl);
}

.f-icon {
  width: 8px;
  min-height: 15px;
}

.twitter-icon {
  width: 14px;
  height: 11px;
}

.twitter-parent {
  padding: 0 0 var(--padding-11xs);
}

.instagram-icon,
.linked-in-icon {
  height: 14px;
  width: 14px;
}

.instagram-icon {
  height: 15px;
  width: 15px;
  border-radius: var(--br-7xs);
}

.social-icons {
  display: flex;
  gap: var(--gap-base);
}

.auth-buttons {
  display: flex;
  gap: var(--gap-base);
  align-items: center;
}

.rectangle-parent {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-177xl) var(--padding-xl) var(--padding-179xl);
  background-color: var(--color-gray-500);
  color: var(--color-silver);
  font-family: var(--font-comfortaa);
  position: relative;
  width: 100%;
}
/* 
@media screen and (max-width: 1275px) {
  .rectangle-parent {
    flex-wrap: wrap;
    padding: var(--padding-2xl);
  }
}

@media screen and (max-width: 750px) {
  .rectangle-parent {
    padding: var(--padding-xl);
  }

  .social-media-parent,
  .auth-buttons {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
  }

  .hero-content {
    margin-left: 0px;
    
  }
  
  .frame-parent {
    flex-direction: column; 
    align-items: center;
    gap: var(--gap-5xs); 
  }

  .div {
    text-align: center;
     
  }

  .login-register {
    margin-left: 58px;
    padding-top: 10px; 
  }




  .social-media-parent,
  .auth-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-47xl);
  }

  .rectangle-parent {
    padding: var(--padding-xl);
  
  }
  .hero-content
  {
    margin-left: 0px;
  }
   
.social-media
{
  margin-top:0px;
  
  margin-left: -200px;

}
.logo-pair-wrapper
{
  margin-top:-50px;
  margin-left: -200px;
}
.frame-parent
{
  margin-top:-50px;
  margin-left: -240px;
}
.login-register
{
  margin-top:10px;
  margin-left: -0px;
}
.whatsapp-support1{
  margin-left: -0%;
}

}

@media screen and (max-width: 450px) {
  .social-media-parent,
  .auth-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-47xl);
  }

  .rectangle-parent {
    padding: var(--padding-xl);
      
  }
  
   
.social-media
{
  margin-top:0px;
  
  margin-left: -200px;

}
.logo-pair-wrapper
{
  margin-top:-50px;
  margin-left: -200px;
}
.frame-parent
{
  margin-top:-50px;
  margin-left: -240px;
}
.login-register
{
  margin-top:10px;
  margin-left: -0px;
}

} */
@media (min-width: 751px) and (max-width: 1275px) {
  .rectangle-parent {
    flex-wrap: wrap;
    padding: var(--padding-2xl);
  }
  .frame-wrapper
  {
    margin-right: 100px;
  }

}
   
@media screen and (max-width: 750px) 
{  


.auth-buttons
{
  margin-top: 100px;
  margin-left: 0px;
}
.login-register
{
  margin-left: 0px;
}
.social-icons
{
  margin-left: 0px;
}
  .hero-content
  {
    margin-top: 00px;
    margin-left: 0;
  }
  .rectangle-parent {
    padding: var(--padding-xl);
    margin-left: 0px;
    margin-top:-90px;
  }

  .social-media-parent,
  .auth-buttons {
    flex-direction: column;
    align-items: center;
  }
}



/* @media (min-width:451px) and (max-width: 750px) {
  .rectangle-parent {
    padding: var(--padding-xl);
  }

  .social-media-parent,
  .auth-buttons {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
  }

  .hero-content {
    margin-left: 0px;
    
  }
  
  .frame-parent {
    flex-direction: column; 
    align-items: center;
    gap: var(--gap-5xs); 
  }

  .div {
    text-align: center;
     
  }

  .login-register {
    
    padding-top: 140px; 
    
  }
  .social-icons
  {
    margin-top: -50px;
    margin-left: -850px;
  }
.login-register,.social-icons
{

}



  .social-media-parent,
  .auth-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-47xl);
  }

  .rectangle-parent {
    padding: var(--padding-xl);
  
  }
  .hero-content
  {
    margin-left: 0px;
  }
   
.social-media
{
  margin-top:0px;
  
  margin-left: -200px;

}
.logo-pair-wrapper
{
  margin-top:-50px;
  margin-left: -200px;
}
.frame-parent
{
  margin-top:-50px;
  margin-left: -240px;
}
.login-register
{
  margin-top:0px;
  margin-left: -270px;
  
}
.whatsapp-support1{
  margin-left: -0%;
}

} */
